html {
    width: 100%;
    font-family: Inter;
}

body {
    margin: 0;
}

.top-half {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;

    height: 30px;
    padding-right: 2%;
}


.bottom-half {
    display: flex;
    position:relative;
}

.bottom-half .background {
    position:absolute;
    top:0;
    left:0;
    z-index:1;

    width: 258px;
    height: 100%;
}

.menu {
    width: 100px;
    padding: 76px 50px 46px 50px;

    position:relative;
    z-index:5
}

.top-menu {
    color: #000;
    display: flex;
    flex-direction: column;
    gap: 33px;

    margin-bottom: 479px;
}

.bottom-menu {
    color: #000;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

a {
    color: #000;
    text-decoration: none; 
}


.main-content {
    padding: 65px;
    padding-right: 2%;
    flex-grow: 1;
}

.dashboard-content{
    padding-left: 29px;
}

.dashboard-pills {
    display: flex;
    align-items: center;
    gap: 46px;
}

.dashboard-pills a {
    text-align: center;
    text-decoration: none;

    cursor: pointer;
    
}

.active {
    color: #000;
    border-radius: 20px;
    background: #F4F6F6;
    padding: 10px 20px;
}

li {
    list-style: none;
}

.summary {
    display: flex;
    flex-direction: row;

    gap: 20px;
    margin-top: 60px;
}


.box-one {
    width: 70%;
    height: 50%;
    padding: 31px 43px;
    
    border-radius: 10px;
    border: 3px solid #D2E9E8;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
}

.box-two {
    width: 70%;
    height: 50%;
    padding: 31px 43px;
    
    border-radius: 10px;
    border: 3px solid #DBEED1;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
}

.total-count {
    width: 150px;
    height: 150px;
    
    display: flex;
    flex-direction: column;
    gap: 12px;

    align-items: center;
    justify-content: center;

    border-radius: 91px;
    border: 4px solid #F4F6F6;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.50);
}


.recent-job-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 29px;
    align-self: stretch;

    font-size: 15px;
}

.job-listing {
    display: flex;
    align-items: center;
    gap: 106px;
    align-self: stretch;
}

.add-job-listing {
    display: flex;
    align-items: center;
    gap: 106px;
    align-self: stretch;
}

.recent-networks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 29px;
    align-self: stretch;

    font-size: 15px;
}

.network {
    display: flex;
    align-items: center;
    gap: 106px;
    align-self: stretch;
}

.add-network {
    display: flex;
    align-items: center;
    gap: 106px;
    align-self: stretch;
}

.checkbox-container {
    display: block;
    cursor: pointer;

}

input[type=text] {
    width: 482px;
    padding: 6px;
    margin-right: 16px;
    font-size: 17px;
}


.top-half-search {
    margin-bottom: 35px;
    display: flex;

}

.network-box {
    display: flex;
    height: 105px;
    border: 1px solid #000;
    align-items: center;

    gap: 72px;
    padding-left: 26px;
    border-radius: 10px;
}

.bottom-half-search {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.bottom-half-jobs {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.job-box {
    height: 569px;
    width: 302px;

    border: 1px solid;
    border-radius: 10px;

    padding: 25px 34px
}

.header {
    text-align: center;
}

h1 {
    margin: 0;
    flex-grow: 1;
}

.page-header {
    display: flex;
    flex-direction: row;

    align-items: center;

    margin-bottom: 61px;
}

.left-column {
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.column-item {
    display: flex;
    flex-direction: column;
    gap: 17px;
}